streamlit
pandas
numpy==1.26.4
joblib
rapidfuzz
nltk
easyocr
pillow
scikit-learn
xgboost
google-generativeai
openpyxl
catboost
paddlepaddle
paddleocr[doc-parser]
safetensors
python-doctr[torch]
opencv-python-headless==4.9.0.80
