streamlit
pandas
numpy
joblib
rapidfuzz
nltk
easyocr
pillow
scikit-learn
xgboost
google-generativeai
openpyxl
catboost
paddlepaddle
paddleocr
opencv-python-headless
libgl1-mesa-glx==21.2.6
safetensors
