streamlit
pandas
numpy
joblib
rapidfuzz
nltk
easyocr
pillow
scikit-learn
xgboost
google-generativeai
openpyxl
catboost
paddleocr==2.7.0
paddlepaddle==2.6.1
opencv-python-headless==4.8.1.78
numpy
Pillow
libglib2.0-0
libgl1-mesa-glx
